@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");

* {
    margin: 0;
    padding: 0;
    /* border: 1px solid blue; */
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    background-color: hsl(27, 66%, 92%);
    font-family: "DM Sans", sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    max-width: 400px;
    width: 100%;
    margin: auto;
}

.header {
    width: 100%;
    height: 90px;
    background-color: hsl(10, 79%, 65%);
    margin-bottom: 15px;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__wrapper {
    height: 20px;
    width: 20px;
    position: relative;
    top: -5px;
}

.header__wrapper::after {
    content: "";
    width: 35px;
    height: 35px;
    display: block;
    background: hsl(25, 47%, 15%);
    position: absolute;
    border-radius: 100%;
    right: 5px;
}

.header__wrapper::before {
    content: "";
    width: 35px;
    height: 35px;
    display: block;
    position: absolute;
    border-radius: 100%;
    border: 2px solid white;
    right: 20px;
    z-index: 1;
}

.main-part {
    width: 100%;
    min-height: 380px;
    background-color: white;
    border-radius: 15px;
    padding: 25px;
}

.main-part__header {
    color: hsl(25, 47%, 15%);
    font-size: clamp(20px, 7vw, 23px);
    font-weight: 580;
    margin-bottom: 20px;
}

.header-title {
    color: white;
    font-size: 13px;
    font-weight: 400;
    opacity: 0.8;
}

.header-amount {
    color: white;
    font-size: 22px;
    font-weight: 700;
    padding-top: 10px;
}

.chart {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    height: 200px;
}

.chart-item-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% / 7);
}

.chart-item {
    background-color: hsl(10, 79%, 65%);
    border-radius: 3px;
    margin: 0 6px;
}

.chart-item-column {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: visible;
}

.chart-info {
    font-size: 0.7em;
    height: 30px;
    width: 50px;
    background-color: hsl(25, 47%, 15%);
    margin-bottom: 10px;
    color: white;
    padding: 3px 3px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    opacity: 0;
    transition: 1s opacity;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 100%;
}

.chart-info-wrapper {
    position: relative;
}

.day {
    font-size: 13px;
    margin-top: 8px;
    color: hsl(28, 10%, 53%);
}

.line {
    height: 1px;
    width: auto;
    background-color: hsl(27, 66%, 92%);
    margin-bottom: 15px;
}

.bottom-part {
    display: flex;
    justify-content: space-between;
    flex: 1;
}

.bottom-left {
    position: relative;
    top: 10px;
}

.bottom-right {
    display: flex;
    flex-direction: column;
    text-align: end;
    justify-content: end;
}

.left-item1 {
    font-size: 13px;
    color: hsl(28, 10%, 53%);
}

.left-item2 {
    color: hsl(25, 47%, 15%);
    font-size: clamp(25px, 8vw, 35px);
    font-weight: 700;
}

.right-item1 {
    color: hsl(25, 47%, 15%);
    font-weight: 700;
    font-size: clamp(11px, 10vw, 16px);
}

.right-item2 {
    font-size: 13px;
    color: hsl(28, 10%, 53%);
}

.attribution {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}
